!!! 5
html(lang='en')
    head
        title Personal data changing
    body
        form(method='post')

            p
                label(for='new_email') New e-mail
                input(type='text', name='new_email')
            p
                label(for='name') Name
                input(type='text', name='name')
            p
                label(for='phone') Phone
                input(type='text', name='phone')
            input(type='submit')