!!! 5
html(lang='en')
	head
		title
		h1 Express authentication example
		p Navigate to
			ul
				li: a(href="/login") Log in
				li: a(href="/registration") Registration
				li: a(href="/user_search") Search
