!!! 5
html(lang='en')
    head
        title
    body
        p Navigate to
            ul
                li: a(href="/user_search") Search
                li: a(href="/change_personal_data") Change personal data
                li: a(href="/change_pass") Change password
                li: a(href="/logout") Logout
