!!! 5
html(lang='en')
    head
        title Registation
    body
       form(method='post')
           p
               label(for = 'email') Email
               input(type= 'text', name = 'email')
           p
               label(for='password') Password
               input(type = 'password', name = 'password')
           p
                label(for='name') Name
                input(type = 'text', name = 'name')
           p
                label(for = 'phone') Phone
                input(type='text', name='phone')
           input(type='submit')