!!! 5
html(lang='en')
    head
        title Personal data changing
    body
        form(method='post')

            p
                label(for='search_email') Input E-mail witch you want to search
                input(type='text', name='search_email')
            p
                label(for='search_name) Input Name witch you want to search
                    input(type='text', name='search_name')
            input(type='submit')

